{{- with pkiCert "<< vault_pki_engine >>/issue/{% if item.policy is defined and item.policy|length %}<< item.policy >>{% else %}server-cert{% endif %}" 
    "common_name=<< item.common_name >>"
{% if item.alt_names is defined and item.alt_names|length %}
    "alt_names=<< item.alt_names >>"
{% endif %}
{% if item.ip_sans is defined and item.ip_sans|length %}
    "ip_sans=<< item.ip_sans >>"
{% endif %}
{% if item.ttl is defined and item.ttl|length %}
    "ttl=<< item.ttl >>"
{% endif %}
-}}
{{- .Data.Cert -}}
{{- .Data.CA -}}
{{- if .Key -}}
{{- .Key | writeToFile "<< item.key_file >>" "" "" "0640" -}}
{{- end -}}
{{- if .CA -}}
{{- .CA | writeToFile "<< item.ca_file >>" "" "" "0644" -}}
{{- end -}}
{{- end -}}